           <%- include partials/header %>


       
        <div class="container-fluid">

           <!-- form user info -->
            <div class="card card-outline-secondary">
              <div class="card-header">
                <h3 class="mb-0">Add Banner</h3>
              </div>
              <div class="card-body">
                <form autocomplete="off" class="form" role="form" method="post">
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Title</label>
                    <div class="col-lg-9">
                      <input type="text" class="form-control" id="titles" name="title" required />
                    </div>
                  </div>
                   <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Short Description</label>
                    <div class="col-lg-9">
                      <textarea class="form-control" id="shortDescriptions" name="shortDescription" required /></textarea>
                    </div>
                  </div>
                   <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Long Description</label>
                    <div class="col-lg-9">
                       <textarea class="form-control" id="longDescriptions" name="longDescription" required /></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Image</label>
                    <div class="col-lg-9">
                     <!--  <select class="chosen form-control" id="sel_user" placeholder="Pick a User">
                      </select> -->
                      <input type="file" id="imageDetailss" name="imageDetails" required />
                    </div>
                  </div>
                  
                  <!--  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Url or Info</label>
                    <div class="col-lg-9">
                       
                          <div class="slot_subclass">
                              <button class="add_form_field">Add New Field &nbsp; 
                                <span style="font-size:16px; font-weight:bold;">+ </span>
                              </button>
                              <div class="item"><input type="text" name="key" class="item_name">&nbsp;<input type="text" name="value" class="item_qty"> </div>
                          </div>
                    </div>
                  </div> -->




              
                 <!-- <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Limit</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="text" id="limit">
                    </div>
                  </div> -->
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                      <input class="btn btn-secondary" type="button" value="Preview" id="bannerPreviewData">
                      <input class="btn btn-secondary" type="reset" value="Cancel"> 
                      <input class="btn btn-primary" type="button" value="Submit" id="bannerSubmit">
                     </div>
                  </div>
                </form>
                 <div class="table-responsive">
                  <table class="table table-bordered" id="dataTables" width="100%" cellspacing="0">
                    <thead>
                      <tr>
                      
                        <th>Title</th>
                        <th>Short Description</th>
                        <th>Long Description</th>
                        <th>Image</th>
                        <th>Status</th>
                        <th>Action</th>
                    <tbody>
                    </tbody>
                  </table>
                </div>
              </div>
            </div><!-- /form user info -->

        
        </div>

      </div>
      <!-- End of Main Content -->

                 <%- include partials/footer %>


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="previewModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content preview-phone">
        <div class="modal-body preview-card-body p-0"><main>
    <div class="pt-5" style="position: relative;">
      <button class="close" type="button" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">×</span>
      </button>
      
                <div class=" text-center"> <img style="max-width: 200px;" src="https://www.freepnglogos.com/uploads/notebook-png/download-laptop-notebook-png-image-png-image-pngimg-2.png" id="previewImgSrc" class="card-img-top" alt="...">
                    <div class="card-body text-dark">
                        <div class="min-height-360">
                        <h3 class="clearfix text-gray-900 mb-3 font-weight-bold" id="previewTitle"></h3>
                        <h5 id="previewShortDescription"></h5>
                        <p class="show-more-less-dec" style="display: none;" id="previewLongDescription"> </p>
                        <a class="show-more-less-btn" href="javascript:void(0);">Show More</a>
                      </div>
                        <div class="text-center mt-4"> <a href="#" class="btn btn-primary btn-block btn-lg">Got It!</a> </div>
                    </div>
                </div>

    </div>
</main></div>
        <!-- <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="#">Submit</a>
        </div> -->
      </div>
    </div>
  </div>


  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 --><link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
//change selectboxes to selectize mode to be searchable
   $("select").select2();
});
</script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
<script src="js/choosen.js"></script>

 <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>


  <script type="text/javascript">

window.history.forward(); 
        function noBack() { 
            window.history.forward(); 
        } 
 var url_string = window.location.href; 
  var urls = new URL(url_string);
  var tokens = urls.searchParams.get("tokendata");

  // var tokens = "eyJhbGciOiJIUzUxMiJ9.eyJlbWFpbCI6Im1haGVzaHdhcmkwNmdvdmluZEBnbWFpbC5jb20iLCJzdWIiOiJmMTQ4NmIzMy03YTM0LTQ1MDYtYWFhMS1kM2Y0YmYzOGQzNjYiLCJpYXQiOjE2MjAwMzIwMjcsImV4cCI6MTYyMDYzNjgyN30.BSmCDBqWEf4FKxTsTgVe7-zTjHqRr6HYjglEUvlyUHx03rUfrp9N75pedAre1LQsdYtF7eyViM-5xaempJ68Ew";

// $('.test').on('click', function() {
//   var obj = {}
  
//   $(".slot_subclass").each(function() {
//     var $slots = $(this).find('.slot');

//     obj[$slots.eq(0).val()] = $slots.eq(1).val()
//   })
  
//   console.log(obj)
// })


$("#bannerPreviewData").on('click', function (e) {

    

  var title = $('#titles').val();
  var shortDescription = $('#shortDescriptions').val();
  var longDescription = $('#longDescriptions').val();
   // alert(imageDetails);
  var file = document.getElementById("imageDetailss").files[0];
  // alert(file);
  // alert(readURLs(file));
  // if(file == undefined){
  //   readURLs(file);
  // }
 
  var fullPath = $("#imageDetailss").val();
  // alert(fullPath);   
  var filename = fullPath.replace(/^.*[\\\/]/, '');
  // alert(filename);
   

    var fr = new FileReader();
    
    fr.onload = function(ev2) {
        console.dir(ev2);
        $('#previewImgSrc').attr('src', ev2.target.result);
    };
    
    fr.readAsDataURL(file);
  
  if(title == "" || shortDescription == ""  || longDescription == ""  || filename == ""){
    alert("Please fill all the field");
  }else {

    $("#previewModal").modal('show');

      document.getElementById("previewTitle").innerHTML  = title;
      document.getElementById("previewShortDescription").innerHTML  = shortDescription;
      document.getElementById("previewLongDescription").innerHTML  = longDescription;
      // document.getElementById("previewImgSrc").src = filename;



  //    var formdata = new FormData();
  //   formdata.append("title", title);
  //   formdata.append("shortDescription", shortDescription);
  //   formdata.append("longDescription", longDescription);

  // if(filename == ""){
  //   // alert("null");
  //     formdata.append("imageDetails", "");

  //   }else{
  //   // alert("not null");
  //     formdata.append("imageDetails", file , filename);

  //   }

   //alert(title);
   //alert(shortDescription);
   //alert(longDescription);

 }
    
 });


///////////////////////////////////////////////////////

$("#bannerSubmit").on('click', function (e) {


  var title = $('#titles').val();
  var shortDescription = $('#shortDescriptions').val();
  var longDescription = $('#longDescriptions').val();
   // alert(imageDetails);
  var file = document.getElementById("imageDetailss").files[0];
  // alert(file);
  // if(file == undefined){
  //   readURLs(file);
  // }
 
  var fullPath = $("#imageDetailss").val();
  // alert(fullPath);   
  var filename = fullPath.replace(/^.*[\\\/]/, '');
  // alert(filename);

  
  if(title == "" || shortDescription == ""  || longDescription == ""  || filename == ""){
    alert("Please fill all the field");
  }else {

     var formdata = new FormData();
    formdata.append("title", title);
    formdata.append("shortDescription", shortDescription);
    formdata.append("longDescription", longDescription);

  if(filename == ""){
    // alert("null");
      formdata.append("imageDetails", "");

    }else{
    // alert("not null");
      formdata.append("imageDetails", file , filename);

    }

    var requestOptions = {
      method: 'POST',
      headers: {
              Authorization: 'Bearer eyJhbGciOiJIUzUxMiJ9.eyJlbWFpbCI6ImphaW4uYWthc2hAbm92YXNvZnRjb3Jwcy5jb20iLCJzdWIiOiI3ZmM5MjRiNy05YTE4LTRhNDctYjJkMS01NDI4ZDNiYzE2MWQiLCJpYXQiOjE2MjQyNTY2MjIsImV4cCI6MTYyNDg2MTQyMn0.AWsU0aXz3BUjzh27Vos9zRYZzS4-4I7pYB6l3d6NlmN5Q_PAXso73odFXPMdXjLN4u1j5ZlJ77FS2iI_PBD7FQ'
            },
      body: formdata,
      redirect: 'follow'
    };


    var requestOptions1 = {
      method: 'POST',
      headers: {
              Authorization: 'Bearer eyJhbGciOiJIUzUxMiJ9.eyJlbWFpbCI6ImphaW4uYWthc2hAbm92YXNvZnRjb3Jwcy5jb20iLCJzdWIiOiI3ZmM5MjRiNy05YTE4LTRhNDctYjJkMS01NDI4ZDNiYzE2MWQiLCJpYXQiOjE2MjQyNTY2MjIsImV4cCI6MTYyNDg2MTQyMn0.AWsU0aXz3BUjzh27Vos9zRYZzS4-4I7pYB6l3d6NlmN5Q_PAXso73odFXPMdXjLN4u1j5ZlJ77FS2iI_PBD7FQ'
            },
      // body: formdata,
      redirect: 'follow'
    };

    fetch("https://apistest.tradetipsapp.com/api/adBannerSimple/addSimpleAdBanner", requestOptions)
      .then(response => response.json())
      .then(result => {
            
                var datak = JSON.stringify(result);
               // alert(datak);
                var dataResultp = JSON.parse(datak); 
                // alert(dataResultp.title);
                alert("Your banner "+dataResultp.title+" was submitted successfully");
                window.location.reload("/banner?tokendata="+tokens); 

                 // fetch("https://apistest.tradetipsapp.com/api/adBannerSimple/disableAllOtherthanBannerById?adBannerId="+dataResultp.id, requestOptions1)
                 //    .then(response => response.json())
                 //    .then(results => {
                          
                 //              var dataks = JSON.stringify(results);
                 //             // alert(datak);
                 //              var dataResultps = JSON.parse(dataks); 
                 //              // alert(dataResultp.title);
                 //              alert("Your banner "+dataResultp.title+" was submitted successfully");
                 //              window.location.reload("/banner?tokendata="+tokens); 
                         
                              

                 //        })
           
                

       })
      .catch(error => console.log('error', error));

  }
 



// // set values for demo
 // setDemoValues()
// // get data based on above values
// var res = {};
// $('.slot_subclass').each(function() {
//   var $inputs = $(this).find('.slot');      
//   res[$inputs[0].value] = $inputs[1].value;      
// })

// console.log(res)

// function setDemoValues() {
//   $('.slot_subclass').each(function(i) {
//     $(this).find('.slot').val(function() {
//       return this.name + (i + 1);
//     })
//   });

// }

// var details = $('.item_name').map(function() {

//   var name = $(this).val();
//   var vales =  $(this).next('.item_qty').val(); 
//   return {

     
//      // name: $(this).val(),
//     // qty: $(this).next('.item_qty').val()
//      name : $(this).next('.item_qty').val()
//     // qty: $(this).next('.item_qty').val()
//   };
// }).get();

// console.log(details);
// var val = $("input.item_name").map(function(){
// obj = {}

// obj[$(this).val()] = $(this).next("input.item_qty").val();

// return obj;

// // console.log(obj)

// }).get()

//  console.log(val.length)

//  function myCustomMerge() {
//     var return_obj = {};
//     for (i in arguments) {
//         obj = arguments[i];
//         for (j in obj) {
//             if (return_obj[j] == undefined) {
//                 return_obj[j] = [obj[j]];
//             } else {
//                 return_obj[j].push(obj[j]);
//             }
//         }
//     }
//     return return_obj;
// }

// var merged_obj = myCustomMerge(val);
// console.log(merged_obj);



// var arr = $('.slot_subclass').map(function() {
//   var obj = {};
//   $(this).find('.slot').each(function() {
//     obj[this.name] = this.value;
//   });
//   return obj;
// }).get();

// console.log(arr);

// var json = JSON.stringify(arr);
// console.log(json);
   
});


var formdata = new FormData();
  formdata.append("offset", "0");
  formdata.append("limit", "500");

  var requestOptions = {
    method: 'POST',
    headers: {
           Authorization: 'Bearer eyJhbGciOiJIUzUxMiJ9.eyJlbWFpbCI6ImphaW4uYWthc2hAbm92YXNvZnRjb3Jwcy5jb20iLCJzdWIiOiI3ZmM5MjRiNy05YTE4LTRhNDctYjJkMS01NDI4ZDNiYzE2MWQiLCJpYXQiOjE2MjQyNTY2MjIsImV4cCI6MTYyNDg2MTQyMn0.AWsU0aXz3BUjzh27Vos9zRYZzS4-4I7pYB6l3d6NlmN5Q_PAXso73odFXPMdXjLN4u1j5ZlJ77FS2iI_PBD7FQ'
        },
    body: formdata,
    redirect: 'follow'
  };

  fetch("https://apistest.tradetipsapp.com/api/adBannerSimple/getAllSimpleAdBanner", requestOptions)
  .then(resp => resp.json())
    .then(function(data) {
           $('#dataTables').dataTable( {
            "aaData": data, 
            "lengthMenu": [ 500, 1000, 2000, 3000, 4000, 5000 ],
            "pageLength": 500,
            // "aaSorting": [[ 0, "desc" ]],
            // "columnDefs": [ {
            // "targets": 4,
            // "orderable": false
            // } ],
            "columns": [
                
                { "data": "title" },
                { "data": "shortDescription" },
                { "data": "longDescription" },
                {
                   "data": "image",
                   "render": function (data) {
                       return '<img src="https://apistest.tradetipsapp.com' + data + '" class="avatar" width="50" height="50"/>';
                       }
                },
              //   { 'data': null,
              //    'render': function (data, type, row) {
              //          return '<button id="' + row.id + '" class="deleteButtons">Delete</button>'
              //  }
              // },  
               {
                "data":   "isActive",
                render: function ( data, type, row ) {
                    if ( type === 'display' ) {

                       if(data == true) {

                           return '<button id="' + row.id + '" class="btn btn-success">Active</button>';
                        //   return '<a href="updateData?id='+row.id+'&username='+row.userName+'&tokendata='+tokens+'&status=1" id="userStatus">UnBlock</a>';

                        }else {
                        //   return '<a href="updateData?id='+row.id+'&username='+row.userName+'&tokendata='+tokens+'&status=0" id="userStatus">Block</a>';
                          return '<button id="' + row.id + '" class="deleteButtonsdeactive btn btn-danger">Deactive</button>';

                        }
                       
                    }
                    return data;
                },

              },
              { 'data': null,
                 'render': function (data, type, row) {
                        return '<a href="editBanner?id='+row.id+'&tokendata='+tokens+'"><button>Edit</button></a> | <button id="' + row.id + '" class="deleteButtonsBanner">Delete</button>';
               }
              }              
            ],
            "deferRender": true,
            rowCallback: function ( row, data ) {
            
        }

        });

      $('#dataTables').on('click', 'button.deleteButtonsactive', function () {

      // alert("fff");

      var id = $(this).attr('id');
      // alert(id);

      var url ;
      var result = confirm("Are you sure you want to Update?");
      if(result){
      // alert(result);
      var formData = {adBannerId:id};
       url = "https://apistest.tradetipsapp.com/api/adBannerSimple/disableSimpleAdBannerById";
      $.ajax({
        url : url,
        type: "POST",
        headers: {
             Authorization: 'Bearer eyJhbGciOiJIUzUxMiJ9.eyJlbWFpbCI6ImphaW4uYWthc2hAbm92YXNvZnRjb3Jwcy5jb20iLCJzdWIiOiI3ZmM5MjRiNy05YTE4LTRhNDctYjJkMS01NDI4ZDNiYzE2MWQiLCJpYXQiOjE2MjQyNTY2MjIsImV4cCI6MTYyNDg2MTQyMn0.AWsU0aXz3BUjzh27Vos9zRYZzS4-4I7pYB6l3d6NlmN5Q_PAXso73odFXPMdXjLN4u1j5ZlJ77FS2iI_PBD7FQ',
        },
        data : formData,
        success: function(data, textStatus, jqXHR)
        {
           //data - response from server
            var datak = JSON.stringify(data);
            // alert(datak);
            var dataResultp = JSON.parse(datak); 
            // alert(dataResultp);

              // var requestOptions1 = {
              //   method: 'POST',
              //   headers: {
              //           Authorization: 'Bearer eyJhbGciOiJIUzUxMiJ9.eyJlbWFpbCI6Im1haGVzaHdhcmkwNmdvdmluZEBnbWFpbC5jb20iLCJzdWIiOiJmMTQ4NmIzMy03YTM0LTQ1MDYtYWFhMS1kM2Y0YmYzOGQzNjYiLCJpYXQiOjE2MjAyODE4MTYsImV4cCI6MTYyMDg4NjYxNn0.wRkAckmjXoCvRtVLzmSz_6EnvtOTwxKj3Q05Bzf7NVamW9wDB6CAZ-2p6gfeSwvXEevAHkVXMoocsZWwWciLzA'
              //         },
              //   body: formdata,
              //   redirect: 'follow'
              // };
              //  fetch("https://apistest.tradetipsapp.com/api/adBannerSimple/disableAllOtherthanBannerById", requestOptions1)
              //       .then(response => response.json())
              //       .then(results => {
                          
              //                 var dataks = JSON.stringify(results);
              //                // alert(datak);
              //                 var dataResultps = JSON.parse(dataks); 
              //                 // alert(dataResultp.title);
              //       })
            
            alert("Status Updated Successfully !!");
            window.location.reload();

        },
        error: function (jqXHR, textStatus, errorThrown)
        {
           alert("Not updated !!");
        }

       });
      

      } else {

          window.location.reload();

      }

      });  


       $('#dataTables').on('click', 'button.deleteButtonsdeactive', function () {

      // alert("fff");

      var id = $(this).attr('id');
      // alert(id);

      // var url ;
      var result = confirm("Are you sure you want to Update?");
      if(result){
      // //alert(result);
      // var formData = {adBannerId:id};
      //  url = "https://apistest.tradetipsapp.com/api/adBannerSimple/activeSimpleAdBannerById";
      // $.ajax({
      //   url : url,
      //   type: "POST",
      //    headers: {
      //        Authorization: 'Bearer eyJhbGciOiJIUzUxMiJ9.eyJlbWFpbCI6Im1haGVzaHdhcmkwNmdvdmluZEBnbWFpbC5jb20iLCJzdWIiOiJmMTQ4NmIzMy03YTM0LTQ1MDYtYWFhMS1kM2Y0YmYzOGQzNjYiLCJpYXQiOjE2MjAyODE4MTYsImV4cCI6MTYyMDg4NjYxNn0.wRkAckmjXoCvRtVLzmSz_6EnvtOTwxKj3Q05Bzf7NVamW9wDB6CAZ-2p6gfeSwvXEevAHkVXMoocsZWwWciLzA',
      //   },
      //   data : formData,
      //   success: function(data, textStatus, jqXHR)
      //   {


      //       //data - response from server
      //       var datak = JSON.stringify(data);
      //       // alert(datak);
      //       var dataResultp = JSON.parse(datak); 
      //        // alert(dataResultp);
             
           
      //       alert("Status Updated Successfully !!");
           
               var requestOptions1 = {
                method: 'POST',
                headers: {
                        Authorization: 'Bearer eyJhbGciOiJIUzUxMiJ9.eyJlbWFpbCI6ImphaW4uYWthc2hAbm92YXNvZnRjb3Jwcy5jb20iLCJzdWIiOiI3ZmM5MjRiNy05YTE4LTRhNDctYjJkMS01NDI4ZDNiYzE2MWQiLCJpYXQiOjE2MjQyNTY2MjIsImV4cCI6MTYyNDg2MTQyMn0.AWsU0aXz3BUjzh27Vos9zRYZzS4-4I7pYB6l3d6NlmN5Q_PAXso73odFXPMdXjLN4u1j5ZlJ77FS2iI_PBD7FQ'
                      },
                // body: formdata,
                redirect: 'follow'
              };
               fetch("https://apistest.tradetipsapp.com/api/adBannerSimple/disableAllOtherthanBannerById?adBannerId="+id, requestOptions1)
                    .then(response => response.json())
                   .then(results => {
                             // alert("hiii calll");
                              var dataks = JSON.stringify(results);
                               // alert(datak);
                              var dataResultps = JSON.parse(dataks); 
                              // alert(dataResultp.title);
                              alert("Status Updated Successfully !!");
                              window.location.reload();
                    });
                 // window.location.reload();
    
        // },
        // error: function (jqXHR, textStatus, errorThrown)
        // {
        //    alert("Not updated !!");
        // }

       // });
      

      } else {

          window.location.reload();

      }

      });

      $('#dataTables').on('click', 'button.deleteButtonsBanner', function () {

      // alert("fff");

      var id = $(this).attr('id');
      // alert(id);

      var url ;
      var result = confirm("Are you sure you want to Delete?");
      if(result){
      // alert(result);
      var formData = {adBannerId:id};
       url = "https://apistest.tradetipsapp.com/api/adBannerSimple/deleteSimpleAdBannerById";
      $.ajax({
        url : url,
        type: "POST",
        headers: {
             Authorization: 'Bearer eyJhbGciOiJIUzUxMiJ9.eyJlbWFpbCI6ImphaW4uYWthc2hAbm92YXNvZnRjb3Jwcy5jb20iLCJzdWIiOiI3ZmM5MjRiNy05YTE4LTRhNDctYjJkMS01NDI4ZDNiYzE2MWQiLCJpYXQiOjE2MjQyNTY2MjIsImV4cCI6MTYyNDg2MTQyMn0.AWsU0aXz3BUjzh27Vos9zRYZzS4-4I7pYB6l3d6NlmN5Q_PAXso73odFXPMdXjLN4u1j5ZlJ77FS2iI_PBD7FQ',
        },
        data : formData,
        success: function(data, textStatus, jqXHR)
        {
            //data - response from server
            var datak = JSON.stringify(data);
            // alert(datak);
            var dataResultp = JSON.parse(datak); 
            // alert(dataResultp);
            alert("Delete Successfully !!");
            window.location.reload();

        },
        error: function (jqXHR, textStatus, errorThrown)
        {
           alert("Not updated !!");
        }

       });
      

      } else {

          window.location.reload();

      }

      });

      });  

   $(document).ready(function() {
    var max_fields = 50;
    var wrapper = $(".slot_subclass");
    var add_button = $(".add_form_field");

    var x = 1;
    $(add_button).click(function(e) {
        e.preventDefault();
        if (x < max_fields) {
            x++;
            $(wrapper).append('<div class="item"><input type="text" name="key" class="item_name"/>&nbsp;<input type="text" name="value" class="item_qty"/><a href="#" class="delete">Delete</a></div>'); //add input box
        } else {
            alert('You Reached the limits')
        }
    });

    $(wrapper).on("click", ".delete", function(e) {
        e.preventDefault();
        $(this).parent('div').remove();
        x--;
    })
 });
 </script>
 
 <script type="text/javascript">
  window.addEventListener("load", function() {
  var url_string = window.location.href; 
  var urls = new URL(url_string);
  var tokens = urls.searchParams.get("tokendata");
  document.getElementById("dashboardLink").href = "/home?tokendata="+tokens;
document.getElementById("TipLink").href = "/tipList?tokendata="+tokens;
  
   document.getElementById("HomeLink").href = "/home?tokendata="+tokens;
  document.getElementById("UserLink").href = "/userlist?tokendata="+tokens;
  // document.getElementById("UserCallLink").href = "/userlist?tokendata="+tokens;
   document.getElementById("CommentLink").href = "/commentlist?tokendata="+tokens;
   document.getElementById("CSVLink").href = "/csvlist?tokendata="+tokens;
 document.getElementById("FlagCallLink").href = "/flaglist?tokendata="+tokens;
       document.getElementById("BannerLink").href = "/banner?tokendata="+tokens;
        document.getElementById("NotifyLink").href = "/notification?tokendata="+tokens;
           document.getElementById("changePassLink").href = "/changePassword?tokendata="+tokens;  
   document.getElementById("AccountLink").href = "/account?tokendata="+tokens;  

});
</script>

<script>
   $(document).on("click", ".show-more-less-btn", function(e) {
    if ($(".show-more-less-dec").is(":hidden")) {
      $(this).text('Show Less');
      $('.show-more-less-dec').slideDown();
    }
    else{
      $(this).text('Show More');
      $('.show-more-less-dec').slideUp();
    }
        
    })
</script>

</body>

</html>
