           <%- include partials/header %>

<script src="https://cdn.jsdelivr.net/npm/emoji-button@0.6.0/dist/index.min.js"></script>
    <script>
      window.addEventListener('DOMContentLoaded', () => {
  EmojiButton(document.querySelector('#emoji-button'), function (emoji) {
    document.querySelector('input').value += emoji;
  });
});
</script>
<style type="text/css">
  .emoji-picker{
    z-index: 111;
  }
  .emoji-picker__emojis {
    height: 16rem !important;
  }
</style>

       
        <div class="container-fluid">

           <!-- form user info -->
            <div class="card card-outline-secondary">
              <div class="card-header">
                <h3 class="mb-0">Edit Banner</h3>
              </div>
              <div class="card-body">
                <form autocomplete="off" class="form" role="form" method="post">
                  <div class="form-group row">
                      <input type="text" class="form-control" placeholder="Enter your title here" name="bannerId" id="bannerIds" value="<%= bannersId %>" style="display: none;">

                    <label class="col-lg-3 col-form-label form-control-label">Title</label>
                     <div class="col-lg-7">
                      <input type="text" class="form-control" id="titles" name="title" required />
                    </div>
                    <div class="col-lg-2">
                      <button id="emoji-button">😀</button>
                    </div>
                  </div>
                   <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Description One</label>
                    <div class="col-lg-9">
                      <textarea class="form-control" id="shortDescriptions" name="Short_text_editor"></textarea>
                    </div>
                  </div>
                   <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Description Two</label>
                    <div class="col-lg-9">
                       <textarea class="form-control" id="longDescriptions" name="Long_text_editor"></textarea>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Image</label>
                    <div class="col-lg-9">
                     <!--  <select class="chosen form-control" id="sel_user" placeholder="Pick a User">
                      </select> -->
                      <img id="newImage">
                      <input type="file" id="imageDetailss" name="imageDetails" required="required">
                    </div>
                  </div>
                  
                 
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                      <input class="btn btn-secondary" type="reset" value="Cancel"> 
                      <input class="btn btn-primary" type="button" value="Update" id="bannerSubmit">
                     </div>
                  </div>
                </form>
                 
              </div>
            </div><!-- /form user info -->

        
        </div>

      </div>
      <!-- End of Main Content -->

                 <%- include partials/footer %>


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>
<script type="text/javascript">
  $(document).ready(function () {
//change selectboxes to selectize mode to be searchable
   $("select").select2();
});
</script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
<script src="js/choosen.js"></script>

 <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>
<script src="https://cdn.tiny.cloud/1/it3ify0z40t5vo6kcajgeiy9u1wusf5nsuhp3h6j4a585vko/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
  <script type="text/javascript">
tinymce.init({
    selector: "textarea",
    plugins: [
        "advlist autolink lists link image charmap print preview anchor",
        "searchreplace visualblocks code fullscreen",
        "insertdatetime media table paste",
    "emoticons" , "textcolor"
    ],
  toolbar_location: "top",
  menubar : "false",
    toolbar: "insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image | emoticons | forecolor backcolor",
  content_style:
    "body { background: #fff; color: #000; font-size: 14pt; font-family: San Francisco (SF); }"
});

</script>
<style type="text/css">
  span.tox-statusbar__branding {
    display: none;
}
</style>



  <script type="text/javascript">

window.history.forward(); 
        function noBack() { 
            window.history.forward(); 
        } 
 var url_string = window.location.href; 
  var urls = new URL(url_string);
  var tokens = urls.searchParams.get("tokendata");

  // var tokens = "eyJhbGciOiJIUzUxMiJ9.eyJlbWFpbCI6Im1haGVzaHdhcmkwNmdvdmluZEBnbWFpbC5jb20iLCJzdWIiOiJmMTQ4NmIzMy03YTM0LTQ1MDYtYWFhMS1kM2Y0YmYzOGQzNjYiLCJpYXQiOjE2MjAwMzIwMjcsImV4cCI6MTYyMDYzNjgyN30.BSmCDBqWEf4FKxTsTgVe7-zTjHqRr6HYjglEUvlyUHx03rUfrp9N75pedAre1LQsdYtF7eyViM-5xaempJ68Ew";

$("#bannerSubmit").on('click', function (e) {

  var ids = $('#bannerIds').val();
  var title = $('#titles').val();
  // alert(title);
  var shortDescription = tinymce.get("shortDescriptions").getContent();
  // alert(shortDescription);
  var longDescription = tinymce.get("longDescriptions").getContent();
  // alert(longDescription);
  var file = document.getElementById("imageDetailss").files[0];
  // alert(file);
  var fullPath = $("#imageDetailss").val();
  // alert(fullPath);   
  var filename = fullPath.replace(/^.*[\\\/]/, '');
  // alert(filename);

  if(title == "" || shortDescription == ""  || longDescription == "" ){
    alert("Please fill all the field");
  }else {

  var formdata = new FormData();
    formdata.append("adBannerId", ids);
    formdata.append("title", title);
    formdata.append("shortDescription", shortDescription);
    formdata.append("longDescription", longDescription);

  if(filename == ""){
    // alert("null");
      formdata.append("imageDetails", "");

    }else{
    // alert("not null");
      formdata.append("imageDetails", file , filename);

    }

    var requestOptions = {
      method: 'POST',
        headers: {
              Authorization: 'Bearer '+ tokens,
            },
      body: formdata,
      redirect: 'follow'
    };

    fetch("https://apis.tradetipsapp.com/api/adBannerSimple/modifySimpleAdBanner", requestOptions)
      .then(response => response.json())
      .then(result => {
            
                var datak = JSON.stringify(result);
                // alert(datak);
                var dataResultp = JSON.parse(datak); 
                // alert(dataResultp.title);
                alert("Your banner "+dataResultp.title+" Updated successfully");

                window.location.href = "/banner?tokendata="+tokens; 
                // window.location.reload("/banner?tokendata="+tokens); 
              // $(".successmsg").html('<spa>"Your banner '+dataResultp.title+' was submitted successfully"</span>');
              //  setTimeout(function(){$(".successmsg").empty()}, 2000);
              //  //window.location.reload();
              //  setTimeout(function(){
              //  // window.location.reload(1);
              //  window.location.href = "/banner"; 
              //  }, 2000);
                

       })
      .catch(error => console.log('error', error));

 }

// // set values for demo
 // setDemoValues()
// // get data based on above values
// var res = {};
// $('.slot_subclass').each(function() {
//   var $inputs = $(this).find('.slot');      
//   res[$inputs[0].value] = $inputs[1].value;      
// })

// console.log(res)

// function setDemoValues() {
//   $('.slot_subclass').each(function(i) {
//     $(this).find('.slot').val(function() {
//       return this.name + (i + 1);
//     })
//   });

// }

// var details = $('.item_name').map(function() {

//   var name = $(this).val();
//   var vales =  $(this).next('.item_qty').val(); 
//   return {

     
//      // name: $(this).val(),
//     // qty: $(this).next('.item_qty').val()
//      name : $(this).next('.item_qty').val()
//     // qty: $(this).next('.item_qty').val()
//   };
// }).get();

// console.log(details);
// var val = $("input.item_name").map(function(){
// obj = {}

// obj[$(this).val()] = $(this).next("input.item_qty").val();

// return obj;

// // console.log(obj)

// }).get()

//  console.log(val.length)

//  function myCustomMerge() {
//     var return_obj = {};
//     for (i in arguments) {
//         obj = arguments[i];
//         for (j in obj) {
//             if (return_obj[j] == undefined) {
//                 return_obj[j] = [obj[j]];
//             } else {
//                 return_obj[j].push(obj[j]);
//             }
//         }
//     }
//     return return_obj;
// }

// var merged_obj = myCustomMerge(val);
// console.log(merged_obj);



// var arr = $('.slot_subclass').map(function() {
//   var obj = {};
//   $(this).find('.slot').each(function() {
//     obj[this.name] = this.value;
//   });
//   return obj;
// }).get();

// console.log(arr);

// var json = JSON.stringify(arr);
// console.log(json);


   
});


  $(function(){
  // $("input[name='onlynumbers']").on('input', function (e) {
  //     $(this).val($(this).val().replace(/[^0-9]/g, ''));
  //   });

    var bannerIdd = $('#bannerIds').val();
    // alert(bannerIdd);
  
         $.ajax({
              type: 'POST',
              url: 'https://apis.tradetipsapp.com/api/adBannerSimple/getSimpleAdBannerById',
               headers: {
              Authorization: 'Bearer '+ tokens,
                 },
              data: {
                  adBannerId : bannerIdd,
                },
            success: function(data) {
               const dataResult = data;              
                  // alert(JSON.stringify(dataResult));
                  document.getElementById("titles").value = dataResult.title;
                  // var s = document.getElementById("shortDescriptions").value; 
                  // alert(s);
                  tinymce.get("shortDescriptions").setContent(dataResult.shortDescription);
                  tinymce.get("longDescriptions").setContent(dataResult.longDescription);
                  // document.getElementById("shortDescriptions").text = dataResult.shortDescription;
                  // document.getElementById("longDescriptions").text = dataResult.longDescription;
                
                  document.getElementById("newImage").src = "https://apis.tradetipsapp.com"+dataResult.image;
                   
                 

              }

            });


  });




 //   $(document).ready(function() {
 //    var max_fields = 50;
 //    var wrapper = $(".slot_subclass");
 //    var add_button = $(".add_form_field");

 //    var x = 1;
 //    $(add_button).click(function(e) {
 //        e.preventDefault();
 //        if (x < max_fields) {
 //            x++;
 //            $(wrapper).append('<div class="item"><input type="text" name="key" class="item_name"/>&nbsp;<input type="text" name="value" class="item_qty"/><a href="#" class="delete">Delete</a></div>'); //add input box
 //        } else {
 //            alert('You Reached the limits')
 //        }
 //    });

 //    $(wrapper).on("click", ".delete", function(e) {
 //        e.preventDefault();
 //        $(this).parent('div').remove();
 //        x--;
 //    })
 // });
 </script>
 
 <script type="text/javascript">
  window.addEventListener("load", function() {
  var url_string = window.location.href; 
  var urls = new URL(url_string);
  var tokens = urls.searchParams.get("tokendata");
  document.getElementById("dashboardLink").href = "/home?tokendata="+tokens;
document.getElementById("TipLink").href = "/tipList?tokendata="+tokens;
  
   document.getElementById("HomeLink").href = "/home?tokendata="+tokens;
  document.getElementById("UserLink").href = "/userlist?tokendata="+tokens;
  // document.getElementById("UserCallLink").href = "/userlist?tokendata="+tokens;
   document.getElementById("CommentLink").href = "/commentlist?tokendata="+tokens;
   document.getElementById("CSVLink").href = "/csvlist?tokendata="+tokens;
 document.getElementById("FlagCallLink").href = "/flaglist?tokendata="+tokens;
       document.getElementById("BannerLink").href = "/banner?tokendata="+tokens;
        document.getElementById("NotifyLink").href = "/notification?tokendata="+tokens;
           document.getElementById("changePassLink").href = "/changePassword?tokendata="+tokens;  
   document.getElementById("AccountLink").href = "/account?tokendata="+tokens;  
    document.getElementById("NotifyListLink").href = "/notificationlist?tokendata="+tokens;

});
</script>

</body>

</html>
