           <%- include partials/header %>
<style type="text/css">
.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #4e73df;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

#offss{
  left: 65%;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}


.switch {
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #4e73df;
  -webkit-transition: .4s;
  transition: .4s;
   border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.col-lg-90{
  flex:0 0 100%;max-width:100%
}

/*Question*/
.question {
 position: relative;
 background: #f9f9f9;
 margin: 0;
 padding: 10px 10px 10px 50px;
 display: block;
 width:100%;
 cursor: pointer;
}
/*Answer*/
.answers {
 padding: 0px 15px;
 margin: 5px 0;
 width:100%!important;
 height: 0;
 overflow: hidden;
 z-index: -1;
 position: relative;
 opacity: 0;
 -webkit-transition: .3s ease;
 -moz-transition: .3s ease;
 -o-transition: .3s ease;
 transition: .3s ease;
}

.questions:checked ~ .answers{
 height: auto;
 opacity: 0;
 padding: 15px;
 display: contents;
 
}

.btn{
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  padding-top: 0.375rem;
  padding-bottom: 0.375rem;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  font-size:1rem;
  line-height: 1.5;
  border-radius:0.35rem;
  transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input{
  overflow:visible;
  margin:0;
}


/*FAQ Toggle*/
.plus {
 position: absolute;
 margin-left: 10px;
 z-index: 5;
 font-size: 2em;
 line-height: 100%;
 -webkit-user-select: none;    
 -moz-user-select: none;
 -ms-user-select: none;
 -o-user-select: none;
 user-select: none;
 -webkit-transition: .3s ease;
 -moz-transition: .3s ease;
 -o-transition: .3s ease;
 transition: .3s ease;

}

.questions:checked ~ .plus {
 -webkit-transform: rotate(45deg);
 -moz-transform: rotate(45deg);
 -o-transform: rotate(45deg);
 transform: rotate(45deg);

}

.questions {
 display: none;
 
}
</style>


       
        <div class="container-fluid">

           <!-- form user info -->
            <div class="card card-outline-secondary">
              <div class="card-header">
                <h3 class="mb-0">Add Notification</h3>
              </div>
              <div class="card-body">
                <form autocomplete="off" class="form" role="form">
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Title</label>
                    <div class="col-lg-9">
                     
                      <input class="form-control" type="text" id="titles" required="required">

                    </div>
                  </div>
                   <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Description</label>
                    <div class="col-lg-9">
                      <textarea class="form-control" id="description" required="required"></textarea>
                    </div>
                  </div>
                   <!-- Default unchecked -->

                   <div class="form-group row">
                    <!-- <label class="col-lg-3 col-form-label form-control-label">Limit</label>
                    <div class="col-lg-9">
                      <input class="form-control" type="text" id="limit">
                    </div> -->
                      <label class="col-lg-3 col-form-label form-control-label switch"> Select User List Filter </label>
                     <!--  <div class="col-sm-3">
                          <input type="checkbox" id="togBtn1"><span class="slider round"></span>
                        </div>  -->
                   
                      <!--   <label class="switch">
                           <input type="checkbox" id="togBtn1" required="required">
                           <div class="slider round">
                            <span class="on" id="allss">All</span>
                            <span class="off" id="offss">Non-subscribed</span>
                           </div>
                          </label> -->

                          <style>
    .box{
        color: #fff;
        padding: 20px;
        display: none;
        margin-top: 20px;
    }
    .red{ background: #ff0000; }
    .green{ background: #228B22; }
    .blue{ background: #0000ff; }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>
$(document).ready(function(){
    $('input#radio1').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".box").not(targetBox).hide();
        $(targetBox).show();
    });
    $('input#radio2').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".box").not(targetBox).hide();
        $(targetBox).show();
    });
   $('input#radio3').click(function(){
        var inputValue = $(this).attr("value");
        var targetBox = $("." + inputValue);
        $(".box").not(targetBox).hide();
        $(targetBox).show();
    })


});
</script>


<div class="col-lg-9">
  <label><input type="radio" name="optradio" id="radio2" value="All"> All</label>

  <label><input type="radio" name="optradio" id="radio3" value="Non-subscribed"> Non-subscribed</label>

  <label><input type="radio" name="optradio" id="radio1" value="SelectedUser"> Special-User</label>


<style type="text/css">
  .select2-container--default .select2-selection--multiple .select2-selection__choice{
    background-color: #000 !important;
  }
</style>
 <div class="SelectedUser box"><select id="userFull" onchange="test(this)" class="form-control col-lg-9" placeholder="Choose User" multiple="multiple" style="width: 500px;"></select></div>


  
</div>
             
                   </div>
                   <!-- <div id="display1"></div>
                     <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

              <script type="text/javascript">
                var switchStatus = false;
                $("#togBtn1").on('change', function() {
                  // alert("diksha");
                   var url_string = window.location.href; 
                    var urls = new URL(url_string);
                    var tokens = urls.searchParams.get("tokendata");
                    var time = $("#display1").text();
                    // alert(time);
                    if ($(this).is(':checked')) {
                        switchStatus = $(this).is(':checked');
                        // alert("hiiii " + switchStatus);// To verify                     
                         $("#allss").val("All");
                     
                    }
                    else {
                       switchStatus = $(this).is(':checked');
                       // alert("You selected All User !");// To verify
                        // alert("hello " + switchStatus);
                       $("#offss").val("Non-subscribed");
                     
                    }
                });
              </script>
 -->
                 
                  <!--   <div class="col-lg-9">
                     <select id="userFull" onchange="test(this)" class="form-control" placeholder="Choose User">
                      
                    </select>
                    </div>
                  </div> -->
     

             


                 <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label">Select Banner</label>
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tabs-banner1" role="tab">Banner 1</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#tabs-banner2" role="tab">Banner 2</a>
                      </li>
                    </ul>
                    <br>
                    <div class="col-lg-90">
                      
                      <div class="tab-content">
                        <div class="tab-pane active" id="tabs-banner1" role="tabpanel">
                          <div class="table-responsive">
                                <table class="table table-bordered" id="dataTables" width="100%" cellspacing="0">
                                  <thead>
                                    <tr>
                                      <th></th>
                                      <th>Title</th>
                                      <th>Short Description</th>
                                      <th>Image</th>
                                      <!-- <th>View</th> -->
                                      <!-- <th>Action</th> -->
                                  <tbody>
                                  </tbody>
                                </table>
                            </div>
                        </div>
                     <br>
                     <div class="tab-pane " id="tabs-banner2" role="tabpanel">
                      <div class="table-responsive">
                            <table class="table table-bordered" id="dataTablesOne" width="100%" cellspacing="0">
                              <thead>
                                <tr>
                                  <th></th>
                                  <th>Title</th>
                                  <th>Short Description</th>
                                  <th>Image</th>
                                  <!-- <th>View</th> -->
                                  <!-- <th>Action</th> -->
                              <tbody>
                              </tbody>
                            </table>
                        </div>
                    </div>
                      </div>

                    </div>
                  </div>
       
                  <div class="form-group row">
                    <label class="col-lg-3 col-form-label form-control-label"></label>
                    <div class="col-lg-9">
                      <input class="btn btn-secondary" type="reset" value="Cancel"> 
                      <input class="btn btn-primary" type="button" value="Submit" id="notifySubmit">
                     </div>
                  </div>
                </form>
              </div>
            </div><!-- /form user info -->

        
        </div>

      </div>
      <!-- End of Main Content -->

                 <%- include partials/footer %>
<!-- <script type="text/javascript">
  $('select[multiple]').multiselect({
  columns: 4,
  placeholder: 'Select User'
});
</script> -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

<script type="text/javascript">
  $(document).ready(function () {
//change selectboxes to selectize mode to be searchable
   $("select").select2();
});
</script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
<script src="js/choosen.js"></script>

 <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>


  <script type="text/javascript">

window.history.forward(); 
        function noBack() { 
            window.history.forward(); 
        } 
function test(a) {
    var x = (a.value || a.options[a.selectedIndex].value);  //crossbrowser solution =)
    // alert(x);
}
window.addEventListener("load", function() {


  var url_string = window.location.href; 
  var urls = new URL(url_string);
 var tokensn = urls.searchParams.get("tokendata");
 // var tokens = "eyJhbGciOiJIUzUxMiJ9.eyJlbWFpbCI6ImFkaXRpLm5vdmFzb2Z0Y29ycHNAZ21haWwuY29tIiwic3ViIjoiZTE3NzBjMDgtZTJlYy00MGY4LTlhOTgtNjZhNGVmZmJkNjZiIiwiaWF0IjoxNjI3MDI5MzYyLCJleHAiOjE2Mjc2MzQxNjJ9.uIMzROuof1MocMhV42xbA8K4WOSpqTvSaJjJ9kuYrzp6JbqqpfRRQGmaWOXioscPUdd-hlTCqeHVcN4MuRKp5Q";
    
  var formdata = new FormData();
  formdata.append("offset", "0");
  formdata.append("limit", "500");

  var requestOptions = {
    method: 'POST',
    headers: {
          Authorization: 'Bearer ' + tokensn,
        },
    body: formdata,
    redirect: 'follow'
  };

  fetch("https://apis.tradetipsapp.com/api/appUserWebModify/getAllAppUsers", requestOptions)
  .then(resp => resp.json())
    .then(function(data) {
      // console.log(data);
      for( var i = 0; i< data.length; i++){
          var userid = data[i]['id'];
          var username = data[i]['userName'];
          $("#userFull").append("<option value='"+userid+"'>"+username+"</option>");
       }         
  });

  var formdata = new FormData();
  formdata.append("offset", "0");
  formdata.append("limit", "500");

  var requestOptions = {
    method: 'POST',
    headers: {
          Authorization: 'Bearer ' + tokensn,
        },
    body: formdata,
    redirect: 'follow'
  };

  fetch("https://apis.tradetipsapp.com/api/adBannerSimple/getAllSimpleAdBanner", requestOptions)
  .then(resp => resp.json())
    .then(function(data) {
       var datak = JSON.stringify(data);
       var dataResult = JSON.parse(datak); 
        var len = dataResult.length;
         // var countdataa = dataResult.filter(function(s) { return s.isActive; });
         var countdataa = dataResult.filter(function(s) { return s.isSingleBanner; });

           $('#dataTables').dataTable( {
            "aaData": countdataa, 
            "lengthMenu": [ 500, 1000, 2000, 3000, 4000, 5000 ],
            "pageLength": 500,
            // "aaSorting": [[ 0, "desc" ]],
            // "columnDefs": [ {
            // "targets": 4,
            // "orderable": false
            // } ],

            "columns": [
                {
                   "data": "id",
                   "render": function (data,row) {
                         return '<input type="radio" name="selectBanner" id="'+ data +'" class="locationthemes" value="'+ data +'" />';
                       }
                },
                { "data": "title" },
                { "data": "shortDescription" },
                {
                   "data": "image",
                   "render": function (data) {
                       return '<img src="https://apis.tradetipsapp.com' + data + '" class="avatar" width="50" height="50"/>';
                       }
                },
                // { 'data': null,
                // 'render': function (data, type, row) {
                //        return ' <a href="viewNotificationDetail?id='+row.id+'&tokendata='+tokensn+'"><button>View</button></a>';
                //   }
                // },
            ],
            "deferRender": true,
            rowCallback: function ( row, data ) {
            
        }

        });

     
   var data = new Object();
  
  var table = $('#dataTables').DataTable();
  
  $('#dataTables').on('change', ':checkbox', function () {
    data[table.row($(this).parents('tr').get(0)).index()] = this.checked;

    var id = $(this).attr('id');
    // alert(id);
   
   });


  //  DATA TABLE 2'

  var formdata = new FormData();
  formdata.append("offset", "0");
  formdata.append("limit", "500");

  var requestOptions = {
    method: 'POST',
    headers: {
          Authorization: 'Bearer ' + tokensn,
        },
    body: formdata,
    redirect: 'follow'
  };

  fetch("https://apis.tradetipsapp.com/api/adBannerSimple/getAllSimpleAdBanner", requestOptions)
  .then(resp => resp.json())
    .then(function(data) {
       var datak = JSON.stringify(data);
       var dataResult = JSON.parse(datak); 
        var len = dataResult.length;
         // var countdataa = dataResult.filter(function(s) { return s.isActive; });
         var countdataa = dataResult.filter(function(s) { return s.isSingleBanner == false; });
           $('#dataTablesOne').dataTable( {
            "aaData": countdataa, 
            "lengthMenu": [ 500, 1000, 2000, 3000, 4000, 5000 ],
            "pageLength": 500,
            // "aaSorting": [[ 0, "desc" ]],
            // "columnDefs": [ {
            // "targets": 4,
            // "orderable": false
            // } ],

            "columns": [
                {
                   "data": "id",
                   "render": function (data,row) {
                         return '<input type="radio" name="selectBanner" id="'+ data +'" class="locationthemes" value="'+ data +'" />';
                       }
                },
                { "data": "title", 
                    render: function(data, type, row) {

                      // alert(row.title1);
                      if(row.title1 != null){
                        return row.title1
                      }else if(row.title2 != null){
                        return row.title2
                      }else{
                        return row.title3
                      }

                      }
                },
                { "data": "" ,
                "render" : function(data , type, row){
                    // return '<div><input type="checkbox" id="' + row.id + '" name="q"  class="questions"><div class="plus">+</div><label for="' + row.id + '" class="question">'+ row.shortDescription +'</label><div class="answers">'+ row.longDescription +'</div></div>'
                   if(row.shortDescription1 != null){
                     return '<div><input type="checkbox" id="' + row.id + '" name="q"  class="questions"><div class="plus">+</div><label for="' + row.id + '" class="question">'+ row.shortDescription1 +'</label><div class="answers">'+ row.longDescription1 +'</div></div>'
                   }else if(row.shortDescription2 != null){
                     return '<div><input type="checkbox" id="' + row.id + '" name="q"  class="questions"><div class="plus">+</div><label for="' + row.id + '" class="question">'+ row.shortDescription2 +'</label><div class="answers">'+ row.longDescription2 +'</div></div>'
                   }else{
                    return '<div><input type="checkbox" id="' + row.id + '" name="q"  class="questions"><div class="plus">+</div><label for="' + row.id + '" class="question">'+ row.shortDescription3 +'</label><div class="answers">'+ row.longDescription3 +'</div></div>'
                   }
                  
                  }
                },
                {
                   "data": "image",
                   "render": function (data,type, row) {
                       return '<img src="https://apis.tradetipsapp.com' + row.image1 + '" class="avatar" width="50" height="50"/>';
                       }
                },
                // { 'data': null,
                // 'render': function (data, type, row) {
                //        return ' <a href="viewNotificationDetail?id='+row.id+'&tokendata='+tokensn+'"><button>View</button></a>';
                //   }
                // },
            ],
            "deferRender": true,
            rowCallback: function ( row, data ) {
            
        }

        });

     
   var data = new Object();
  
  var table = $('#dataTablesOne').DataTable();
  
  $('#dataTablesOne').on('change', ':checkbox', function () {
    data[table.row($(this).parents('tr').get(0)).index()] = this.checked;

    var id = $(this).attr('id');
    // alert(id);
   
   });
  
  });



  $("#notifySubmit").on('click', function (e) {

  var title = $('#titles').val();
  // alert(title);
  var description = $('#description').val();
  // alert(description);
  // var filterUser = switchStatus;
  var filterdata = $('#userFull option:selected')
                .toArray().map(item => item.value);
  // alert(filterdata);
  var filterUser = $('input[name="optradio"]:checked').val();
  // alert(filterUser);
  // alert(filterUser);
  //var filterdata = $('#select2-userFull-container').text();
  // alert(filterdata);
  var table = $('#dataTables').DataTable();
  var row = table.row(this.closest('tr')).data();
  var id = $(this).attr('id');
  // alert(row.id);



  var bannerids = $('.locationthemes:checked').val();
  // alert(bannerids);

  if(title == "" || description == ""  || bannerids == ""){
    alert("Please fill all the field");
  }else {
   
  var formdatas = new FormData();
    formdatas.append("title", title);
    formdatas.append("description", description);
    formdatas.append("addBannerSimpleIds" , bannerids);
    // formdata.append("userType" , filterUser);

    if(filterUser == "All"){

      formdatas.append("userType", "all");

    }else if(filterUser == "Non-subscribed"){

      formdatas.append("userType", "unsubscribed");

    }else{

       formdatas.append("userType", "SelectedUser");
       formdatas.append("userIds" , filterdata);
    }
    

    

    var requestOptionsnn = {
      method: 'POST',
      headers: {
              Authorization: 'Bearer ' + tokensn,
            },
      body: formdatas,
      redirect: 'follow'
    };

        // alert(JSON.stringify(requestOptionsnn));


    fetch("https://apis.tradetipsapp.com/api/adBannerSimpleNotification/sendFCMNotificationForSimpleAdBannerWithUserType", requestOptionsnn)
      .then(response => response.json())
      .then(result => {
            
                var datak = JSON.stringify(result);
               // alert(datak);
                var dataResultp = JSON.parse(datak); 
                // alert(dataResultp.title);
                alert("Notification has been sent");
                window.location.reload("/notification?tokendata="+tokensn); 
          

       })
      .catch(error => console.log('error', error));

}
   

 });

  
});  


 });   
   
 </script>
 <%- include partials/commonlink %>


</body>

</html>
