           <%- include partials/header %>
           <script src="js/amajiLoader.js"></script>
           <link href="css/flash-main.css" rel="stylesheet" type="text/css">
           <script src="/js/flash-main.js"></script>
       
        <div class="container-fluid">

      <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">Notification List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTables" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Usertype</th>
                      <th>Description</th>
                      <th>Date</th>
                      <th>Publish</th>
                    </tr>
                  </thead>
                  <tbody>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- End of Main Content -->

                 <%- include partials/footer %>


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

 <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>
  

  <script type="text/javascript">

    window.history.forward(); 
        function noBack() { 
            window.history.forward(); 
        } 


window.addEventListener("load", function() {

   // alert(window.location.href);

  var url_string = window.location.href; 
  var urls = new URL(url_string);
  var tokens = urls.searchParams.get("tokendata");
 

const url = "https://apis.tradetipsapp.com/api/adBannerUserNotificationListDetails/getAllAdBannerUserList";
fetch(url, {
  method: "POST",
  headers: {
          Authorization: 'Bearer ' + tokens,
        },
})
  .then(resp => resp.json())
    .then(function(data) {
           $('#dataTables').dataTable( {
            "aaData": data, 
            "order": [[ 3, "desc" ]],
            "columns": [
                { "data": "title"},
                { "data": "userType" },
                { "data": "description" },
                { 
                "data": "createdOn",
                 "name":"date",
                 "visible":true,
                 "title":"Date Created",
                 "render": function(data, type, full, meta){
                  if(type == "display"){
                          var date = new Date(data);
                          var options = {year: "numeric", month: "long", day: "numeric"};

                          return date.toLocaleDateString('en-US', options);
                  }

                  return data;
                }
               },
               { 'data': null,
                 'render': function (data, type, row) {
                       return '<button id="' + row.adBannerId + '" data-title="'+row.title+'" data-description="'+row.description+'" data-userType="'+row.userType+'" class="sendNotifyagain">Send Again</button>'
               }
              },    
                      
              ],
            "deferRender": true,

        });

    
  }).catch(function(error) {
    console.log(error);
  });  

   $('#dataTables').on('click', 'button.sendNotifyagain', function (e) {
    AmagiLoader.show();
  var table = $('#dataTables').DataTable();
  var row = table.row(this.closest('tr')).data();
  var bannerids = $(this).attr('id');
  // alert(bannerids);
  var title = $(this).attr('data-title');
  // alert(title);
  var description = $(this).attr('data-description');
  // alert(description);
  var filterUser = $(this).attr('data-userType');
  // alert(filterUser);

  if(title == "" || description == ""  || bannerids == ""){
    // alert("Please fill all the field");
    window.FlashMessage.error(" Please fill all the field", {timeout: 5000,});

  }else {
   
  var formdata = new FormData();
    formdata.append("title", title);
    formdata.append("description", description);
    formdata.append("addBannerSimpleIds" , bannerids);
    formdata.append("userType" , filterUser);

    var requestOptions = {
      method: 'POST',
      headers: {
              Authorization: 'Bearer ' + tokens,
            },
      body: formdata,
      redirect: 'follow'
    };

    fetch("https://apis.tradetipsapp.com/api/adBannerSimpleNotification/sendFCMNotificationForSimpleAdBannerWithUserType", requestOptions)
      .then(response => response.json())
      .then(result => {
            
                var datak = JSON.stringify(result);
               // alert(datak);
                var dataResultp = JSON.parse(datak); 
                // alert(dataResultp.title);
                // alert("Notification has been sent");
                AmagiLoader.hide();
                window.FlashMessage.success(" Notification has been sent", {timeout: 5000,});
                // window.location.reload("/notification?tokendata="+tokens); 
          

       })
      .catch(error => console.log('error', error));

}
   

 });

});





 </script>
 <%- include partials/commonlink %>


</body>

</html>
