           <%- include partials/header %>


       
        <div class="container-fluid">

          <!-- Page Heading -->
         <!--  <h1 class="h3 mb-2 text-gray-800">Tables</h1>
          <p class="mb-4">DataTables is a third party plugin that is used to generate the demo table below. For more information about DataTables, please visit the <a target="_blank" href="https://datatables.net">official DataTables documentation</a>.</p>
 -->
          <!-- DataTales Example -->

      <div class="card shadow mb-4">
            <div class="card-header py-3">
              <h6 class="m-0 font-weight-bold text-primary">User List</h6>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTables" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <!-- <th>Id</th> -->
                      <th>UserName</th>
                      <th>Email</th>
                      <th>Mentor</th>
                      <th>Date</th>
                      <th>Image</th>
                      <th>Status</th>
                      <!-- <th>Action</th> -->
 <!--                       <th>Authenticate by Email</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>Name</th>
                      <th>Position</th>
                      <th>Office</th>
                      <th>Age</th>
                      <th>Start date</th>
                      <th>Salary</th>
                    </tr>
                  </tfoot> -->
                 <!--  <tbody id="showData">
                  </tbody> -->
                </table>
              </div>
            </div>
          </div>

        </div>

      </div>
      <!-- End of Main Content -->

                 <%- include partials/footer %>


    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Logout Modal-->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
          <button class="close" type="button" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
        <div class="modal-footer">
          <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
          <a class="btn btn-primary" href="/">Logout</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>

 <!-- Page level plugins -->
  <script src="vendor/datatables/jquery.dataTables.min.js"></script>
  <script src="vendor/datatables/dataTables.bootstrap4.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/datatables-demo.js"></script>
  <!-- 
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css">

  <script src="//cdn.datatables.net/plug-ins/1.10.11/sorting/date-eu.js" type="text/javascript"></script>

 <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css"> -->

 

  <script type="text/javascript">

    window.history.forward(); 
        function noBack() { 
            window.history.forward(); 
        } 


window.addEventListener("load", function() {

   // alert(window.location.href);

  var url_string = window.location.href; 
  var urls = new URL(url_string);
  var tokens = urls.searchParams.get("tokendata");
  // alert(tokens);

// const Offset = "1";
// const Limit = "1000";
// const formdata = {offset : Offset , limit : Limit};
// alert(JSON.stringify(formdata));
$.ajax({
        type: 'POST',
        // url: 'https://apis.tradetipsapp.com/api/appUserWebModify/getAllAppUsersPagination',
        url: 'https://apis.tradetipsapp.com/api/appUserWebModify/getAllAppUsers',
        headers: {
          Authorization: 'Bearer '+ tokens
        },
        // data: formdata,
      success: function(data) {
       var datak = JSON.stringify(data);
       var dataResult = JSON.parse(datak); 
        var len = dataResult.length;

          var countdataa = dataResult.filter(function(s) { return s.isEmailAuthenticate; });

          // alert(countdataa);

       
           $('#dataTables').dataTable( {
            "aaData": countdataa,   
            "lengthMenu": [ 500, 1000, 2000, 3000, 4000, 5000 ],
            "pageLength": 500,
            "aaSorting": [[ 3, "desc" ]],
            "columnDefs": [ {
            "targets": 4,
            "orderable": false
            } ],
            "columns": [
                // { "data": "id" },
                { "data": "userName" },
                { "data": "email" },
                // { "data": "isMentor" },
                {
                "data":   "isMentor",
                render: function ( data, type, row ) {
                    if ( type === 'display' ) {
                        // return '<a href="updateData?id='+row.id+'&username='+row.userName+'&tokendata='+tokens+'"><input type="checkbox" class="editor-active"></a>';
                        return '<input type="checkbox" class="editor-active">';
                    }
                    return data;
                },

              },
              { 
              "data": "createdOn",
               "name":"date",
               "visible":true,
               "title":"Date Created",
               "render": function(data, type, full, meta){
                if(type == "display"){
                        var date = new Date(data);
                        var options = {year: "numeric", month: "long", day: "numeric"};

                        return date.toLocaleDateString('en-US', options);
                }

                return data;
              }
              // render: function ( data, type, row ) {
              //       // alert(data);
              //         var current_date= new Date(data);

              //         var timestamp=new Date(data).getTime();
              //         var todate=new Date(timestamp).getDate();
              //         if(todate < 10){
              //           var fdate = "0"+todate;
              //         }else{
              //           var fdate = todate;
              //         }
              //         var tomonth=new Date(timestamp).getMonth()+1;
              //         if(tomonth < 10){
              //           var fmonth = "0"+tomonth;
              //         }else{
              //           var fmonth = tomonth;
              //         }
              //         var toyear=new Date(timestamp).getFullYear();
              //         var original_date=fdate+'/'+fmonth+'/'+toyear;
              //       // alert(current_date);
              //       $("#dateval"+row.id).html(original_date);
              //           return '<span id="dateval'+row.id+'"></span>';
              // },
            },
            {
                "data":   "image",
                render: function ( data, type, row ) {
                    if ( type === 'display' ) {
                        return '<button type="button" class="imgbtn btn btn-info btn-lg" data-toggle="modal" data-target="#myModal'+row.id+'">Image</button><div class="modal fade" id="myModal'+row.id+'" role="dialog"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><h4 class="modal-title">Image</h4></div><div class="modal-body" style="height:400px;"><a class="imgPhoto" href="#" id="'+row.id+'" style="text-align:center;display: block;">Delete Image</a><img src="" id="dishPhoto"  style="height: 500px"/></div><div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button></div></div></div></div>';
                       
                    }
                    return data;
                },

              },
              {
                "data":   "status",
                render: function ( data, type, row ) {
                    if ( type === 'display' ) {

                       if(data == null){

                        return '<input type="button" class="updateStatusdata" value="Block">';

                        //  return '<a href="updateData?id='+row.id+'&username='+row.userName+'&tokendata='+tokens+'&status=1" id="userStatus">UnBlock</a>';

                        }else if(data == "Enable") {

                           return '<input type="button" class="updateStatusdata" value="Block">';
                        //   return '<a href="updateData?id='+row.id+'&username='+row.userName+'&tokendata='+tokens+'&status=1" id="userStatus">UnBlock</a>';

                        }else {
                        //   return '<a href="updateData?id='+row.id+'&username='+row.userName+'&tokendata='+tokens+'&status=0" id="userStatus">Block</a>';
                         return '<input type="button" class="updateStatusdata" value="Release">';

                        }
                       
                    }
                    return data;
                },

              },
            ],
            rowCallback: function ( row, data ) {
            // Set the checked state of the checkbox in the table
            $('input.editor-active', row).prop( 'checked', data.isMentor == true );

          }
       
  });
 }

 });

   $('#dataTables').on('click', 'a.imgPhoto', function () {

    // alert(tokens);
    //alert("hii");
    var id = $(this).attr('id');
    //alert(id);
    var table = $('#dataTables').DataTable();
    var row = table.row(this.closest('tr')).data();
    var result = confirm("Are you sure you want to delete?");
    if(result){
        // Delete logic goes here
    // var ids = row["id"];
    var formData = {appuserid:id};
    //alert(formData);
     $.ajax({
      url : "https://apis.tradetipsapp.com/api/appUserWebModify/deleteUserImageByAppUserId",
      type: "POST",
      headers: {
           Authorization: 'Bearer ' + tokens,
      },
      data : formData,
      success: function(data, textStatus, jqXHR)
      {
          //data - response from server
          // alert(data);
          var datak = JSON.stringify(data);
          var dataResultp = JSON.parse(datak); 
          alert("Image deleted Sucessfully !!");
          window.location.reload();
      },
      error: function (jqXHR, textStatus, errorThrown)
      {
         alert("Not updated !!");
      }

    });
    } else {

       window.location.reload();

    }
           // $('#dataTables').DataTable().ajax.reload();


   });


   // $('#dataTables').on('click', 'tbody td:not(:first-child)', function () {
   $('#dataTables').on('click', 'input.editor-active', function () {

    // alert(tokens);
    // alert("hii");
    var id = $(this).attr('id');
    var table = $('#dataTables').DataTable();
    var row = table.row(this.closest('tr')).data();
    var url ;
    var result = confirm("Are you sure you want to update?");
    if(result){
        // Delete logic goes here
    var userdata = row["userName"];
    var formData = {appUserName:userdata};
    var mentordata = row["isMentor"];
    // alert(mentordata);
    if(mentordata == false) {
          url = "https://apis.tradetipsapp.com/api/appUserWebModify/addMentorUserByUserName";
      } else if(mentordata == true) {
          url = "https://apis.tradetipsapp.com/api/appUserWebModify/removeMentorUserByUserName";
      } else if(mentordata == null) {
          url = "https://apis.tradetipsapp.com/api/appUserWebModify/addMentorUserByUserName";
      }
       $.ajax({
        url : url,
        type: "POST",
        headers: {
             Authorization: 'Bearer ' + tokens,
        },
        data : formData,
        success: function(data, textStatus, jqXHR)
        {
            //data - response from server
            var datak = JSON.stringify(data);
            var dataResultp = JSON.parse(datak); 
            alert("User updated Sucessfully !!");
            window.location.reload();
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
           alert("Not updated !!");
        }

    });
    } else {

       window.location.reload();

    }
           // $('#dataTables').DataTable().ajax.reload();


   });

   $('#dataTables').on('click', 'input.updateStatusdata', function () {

    var id = $(this).attr('id');
    var vals = $(this).attr('value');
    // alert(vals);
    var table = $('#dataTables').DataTable();
    var row = table.row(this.closest('tr')).data();
    var url ;
    var formData;
    var result ;
    if(vals == "Block"){
      result = confirm("Are you sure you want to Block?");
    }
    if(vals == "Release"){
      result = confirm("Are you sure you want to Release?");
    }
    if(result){
        // Delete logic goes here
    var userdata = row["userName"];
    var useremail = row["email"];
    var userpass = row["password"];
    var userId = row["id"];
    var usertypeof = row["userType"];
    var statusdata = row["status"];
     // alert(statusdata);
    if(statusdata == "Block") {
          url = "https://apis.tradetipsapp.com/api/appUserWebModify/appUserUpdateByUserName";
         formData = {appUserName:userdata,appuserid:userId,userName:userdata,email:useremail,password:userpass,status:"Enable",firstName:"",middleName:"",lastName:"",gender:"",imageDetails:"",userLocation:"",userType:usertypeof,saved_stocks:"",savedMentors:"",description:""};
      } else if(statusdata == "Enable") {
          url = "https://apis.tradetipsapp.com/api/appUserWebModify/appUserUpdateByUserName";
          formData = {appUserName:userdata,appuserid:userId,userName:userdata,email:useremail,password:userpass,status:"Block",firstName:"",middleName:"",lastName:"",gender:"",imageDetails:"",userLocation:"",userType:usertypeof,saved_stocks:"",savedMentors:"",description:""};
      } else if(statusdata == null) {
          url = "https://apis.tradetipsapp.com/api/appUserWebModify/appUserUpdateByUserName";
          formData = {appUserName:userdata,appuserid:userId,userName:userdata,email:useremail,password:userpass,status:"Enable",firstName:"",middleName:"",lastName:"",gender:"",imageDetails:"",userLocation:"",userType:usertypeof,saved_stocks:"",savedMentors:"",description:""};
      }
       $.ajax({
        url : url,
        type: "POST",
        headers: {
             Authorization: 'Bearer ' + tokens,
        },
        data : formData,
        success: function(data, textStatus, jqXHR)
        {
            //data - response from server
            var datak = JSON.stringify(data);
            var dataResultp = JSON.parse(datak); 
            alert("Status updated Sucessfully !!");
            window.location.reload();
        },
        error: function (jqXHR, textStatus, errorThrown)
        {
           alert("Not updated !!");
        }

    });
    } else {

       window.location.reload();

    }


   });



    $('#dataTables').on('click', 'button.imgbtn', function () {

    var table = $('#dataTables').DataTable();
    var row = table.row(this.closest('tr')).data();
    var userdata = row["userName"];
    var formData = {appUserName:userdata};
       $.ajax({
        url : "https://apis.tradetipsapp.com/api/appUser/getUserImageByUserName",
        type: "POST",
        headers: {
             Authorization: 'Bearer ' + tokens,
        },
        data : formData,
        success: function(data)
        {
            var img = document.getElementById('dishPhoto');
                img.src = 'data:image/png;base64,'+data;

        },
        error: function (jqXHR, textStatus, errorThrown)
        {
           alert("Not updated !!");
        }

    });

   });



});



   
 </script>
 <script type="text/javascript">
  window.addEventListener("load", function() {
  var url_string = window.location.href; 
  var urls = new URL(url_string);
  var tokens = urls.searchParams.get("tokendata");
  document.getElementById("dashboardLink").href = "/home?tokendata="+tokens;

   document.getElementById("HomeLink").href = "/home?tokendata="+tokens;
  document.getElementById("UserLink").href = "/userlist?tokendata="+tokens;
  // document.getElementById("UserCallLink").href = "/userlist?tokendata="+tokens;
   document.getElementById("CommentLink").href = "/commentlist?tokendata="+tokens;
     document.getElementById("CSVLink").href = "/csvlist?tokendata="+tokens;
    document.getElementById("FlagCallLink").href = "/flaglist?tokendata="+tokens;
    document.getElementById("TipLink").href = "/tipList?tokendata="+tokens;
   document.getElementById("BannerLink").href = "/banner?tokendata="+tokens;
document.getElementById("NotifyLink").href = "/notification?tokendata="+tokens;
       document.getElementById("changePassLink").href = "/changePassword?tokendata="+tokens;  

});
</script>

</body>

</html>
